
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$prfmaja-app-primary: mat-palette($mat-indigo);
$prfmaja-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$prfmaja-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$prfmaja-app-theme: mat-light-theme((
  color: (
    primary: $prfmaja-app-primary,
    accent: $prfmaja-app-accent,
    warn: $prfmaja-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($prfmaja-app-theme);

.spinner1{
  position: absolute;
width: 95px;
height: 95px;
left: 913px;
top: 493px;

/* Green_primary */

border: 6px solid #0ED28C;
box-sizing: border-box;
border-radius: 17px;
}
.spinner2
{position: absolute;
  width: 95px;
  height: 95px;
  left: 921.97px;
  top: 595.53px;

  /* Green_primary */

  border: 6px solid #0ED28C;
  box-sizing: border-box;
  border-radius: 17px;
  transform: rotate(-100deg);

}
.spinner3{
position: absolute;
width: 95px;
height: 95px;
left: 1021.38px;
top: 568.89px;

/* Green_primary */

border: 6px solid #0ED28C;
box-sizing: border-box;
border-radius: 17px;
transform: rotate(160deg)
}
.spinner4{
  position: absolute;
width: 95px;
height: 95px;
left: 977.89px;
top: 475.61px;

/* Green_primary */
//todo arreglar lo comuun
border: 6px solid #0ED28C;
box-sizing: border-box;
border-radius: 17px;
transform: rotate(60deg);

}

/* Union */

.union{
  /* Union */


position: absolute;
width: 40px;
height: 38px;
left: 0px;
top: 4.92px;

/* Graded_green */

background: linear-gradient(130.06deg, #FFE600 -4.15%, #00FFE0 84.55%);

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
